<h2>Edit Meetup</h2>

<%= render "form.html", changeset: @changeset,
                        action: meetup_path(@conn, :update, @meetup) %>

<span><%= link "Back", to: meetup_path(@conn, :index) %></span>
